/*
 * Global site styles
 */
html,
body {
    height: 100%;
}

html {
    background: #f6f8fb;
}

body {
    margin: 0;
    background: #f6f8fb;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
